<nav class="navbar navbar-expand mx-3">
    <div class= "container-fluid">
        <div class="navbar-header">
            <a routerLink = '/' class="navbar-brand">Recipe Book</a>
        </div>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li routerLinkActive = "active" class="nav-item">
                    <a   routerLink = '/recipes' class="nav-link" >Recipes</a></li>
                <li routerLinkActive = "active" class="nav-item">
                    <a  routerLink = '/shopping-list'class="nav-link">Shopping List</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right" openDropdown>
                <li class="dropdown" >
                    <a class="dropdown-toggle" role="button">Manage
                        <span class="carret"> </span>
                    </a>
                        <ul class="dropdown-menu" >
                            <li class="dropdown-item" (click) = "onSaveData()" ><a>Save Data</a></li>
                            <li class="dropdown-item" (click) = "onFetchData()" ><a>Fetch Data</a></li>
                        </ul>
                </li>
            </ul>

        </div>

    </div>
</nav>


<!--
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <ul class="dropdown-menu">
                    <li><a href="#">Save Data</a></li>
                    <li><a href="#">Fetch Data</a></li>
                </ul>
            </li>
        </ul>
-->
